# Data Cleaning

In [4]:
## load libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

In [21]:
bilingual_data = pd.read_csv("bilingual_rates.csv")
bilingual_data.rename(columns={"School Name":"school_name", "School": "DBN"}, inplace=True)
bilingual_data.head()
bilingual_data = bilingual_data.drop(columns = ['Language (Translated)', 'Special Education Model'])

# COLUMNS
display(bilingual_data)

# FIXING DATA TYPES
# change DBN + school name to string, district is already an int

bilingual_str_columns = ['DBN', 'school_name']
bilingual_data[bilingual_str_columns] = bilingual_data[bilingual_str_columns].astype("string")

# CHECK FOR NULLS


# pd.notnull(demographic_data)
# print(len(pd.notnull(demographic_data)))
# print(len(demographic_data[demographic_data.notnull()]))

      
# OTHER DATA CLEANING
# demographic_data.shape
# demographic_data.describe()

# x=pd.notnull(data['col'])
# data[x]

,Borough,Borough/Citywide Office (B/CO),District,DBN,school_name,School Category,Program,Language,General/Special Education
0,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Chinese,General Education
1,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Spanish,General Education
2,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,General Education
3,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,Special Education
4,Manhattan,Manhattan,1,01M188,P.S. 188 The Island School,K-8,Dual Language,Spanish,General Education
...,...,...,...,...,...,...,...,...,...
533,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
534,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
535,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
536,Manhattan,ACCESS,79,79M973,Restart Academy,Ungraded,Transitional Bilingual Education,Spanish,General Education
537,Queens,ACCESS,79,79Q950,Pathways to Graduation,High school,Transitional Bilingual Education,Spanish,General Education